<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <h1>Home page</h1>
      <br>
      <h3>Trnasactions...</h3>
      <p>Implementing Controller View Methods</p>
      <hr>
    </div>
  </div>
</div>